[Unit]
Description=Keeps a tunnel to a host open as user %I
Wants=network-online.target
After=network.target network-online.target

[Service]
User=%I
ExecStart=/usr/sbin/autossh-service

[Install]
WantedBy=multi-user.target
